.animated-text {
  display: inline-block;
  overflow: hidden; /* Ensures the text stays within the container */
  white-space: nowrap; /* Prevents the text from wrapping */
  border-right: 0.15em solid black; /* Cursor effect */
  font-size: 2.24rem;
  position: relative;
  animation: moveToCenter 4s ease-out, typing 8s steps(300) 3s forwards, blink 0.75s step-end infinite alternate 6s, glow 1.5s ease-in-out infinite alternate 9s;
   
}


/* Move to center animation */
@keyframes moveToCenter {
  0% {
    transform: translateX(100%);
    text-align: right;
  }
  50% {
    transform: translateX(0%);
    text-align: center;
  }
  100% {
    transform: translateX(0%);
  }
}

/* Typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* Blinking cursor effect */
@keyframes blink {
  from, to { border-color: transparent }
  50% { border-color: black }
}

/* Glowing effect */
@keyframes glow {
  0% {
    text-shadow: 0 0 10px rgba(64, 74, 185, 0.4), 0 0 20px rgba(107, 53, 165, 0.3), 0 0 30px rgba(20, 54, 105, 0.3);
  }
  100% {
    text-shadow: 0 0 20px rgba(60, 61, 161, 0.7), 0 0 30px rgba(89, 97, 174, 0.6), 0 0 40px rgba(71, 89, 194, 0.9);
  }
}


@media screen and (max-width: 768px) {
  .animated-text {
    font-size: 1.27rem;
  }
}
