@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  /* background-color: rgb(255, 255, 255); */
  color: white;
}
button{
  background-color: black;
  color: white;
  transition: 0.1s;
 
  padding: 10px;
  margin-left: 20px;
  margin-top: 7px;
  border-radius: 12px;
}
Link{
  margin: 20px;
  justify-content: center;
}
/* AnimatedHeading.css */
.animated-text {
  display: inline-block;
  overflow: hidden; /* Ensures the text stays within the container */
  white-space: nowrap; /* Prevents the text from wrapping */
  border-right: 0.15em solid black; /* Cursor effect */
  animation: typing 5s steps(12), blink 0.75s step-end infinite alternate;
}

/* Typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  from, to { border-color: transparent }
  50% { border-color: black }
}
